body {
    background-color: #bde6d4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
}

.amogus {
    width: 300px;
    height: 300px;
}

.header_title {
    font-size: 28px;
}

.header_subtitle {
    color: rgb(49, 143, 220)
} 


main {
    border: 1px solid darkmagenta;
    text-align: center;
}
.skills ol {
    list-style:none
}

.separator {
    width: 50%;
    height: 3px;
background-color: chocolate;
}

.ed_table {
    border-collapse: collapse;
    width: 100%;
}

.ed_table th, .ed_table td{
    border: 1px solid black;
    padding: 5px;
}
.quote{
    font-size: 50px;
}

.form {
    width: 60%;
    margin: 0 auto;
}

.input_control{
    width:100%;
}

.control--text {
    width: 70%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: antiquewhite;
}

.address a{
    text-decoration: none;
}